body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* White background */
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7; /* Light gray for contrast */
  color: black; /* Text color black */
}

.name-dob-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.name-dob-container .form-group {
  flex: 1;
  min-width: 0;
}

.name-dob-container .form-group label,
.name-dob-container .form-group input {
  display: block;
  width: 100%;
}

.es {
  margin-bottom: 30px;
}

.spanish-dob {
  margin-bottom: -30px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}