body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* White background */
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7; /* Light gray for contrast */
  color: black; /* Text color black */
}

.name-dob-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.name-dob-container .form-group {
  flex: 1;
  min-width: 0;
}

.name-dob-container .form-group label,
.name-dob-container .form-group input {
  display: block;
  width: 100%;
}

.es {
  margin-bottom: 30px;
}

.spanish-dob {
  margin-bottom: -30px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 500px;
  width: 90%;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ab2222;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #911c1c;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}