.submit-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.submit-container h2 {
  margin-top: 0;
}

.submit-container p {
  margin: 10px 0;
}

.submit-container p strong {
  display: inline-block;
  width: 150px;
}